<div class="card">
<div class="card-header" style="background-color:#E8EDDF">

<h2 style="font-weight:bold;">Sign up</h2>
</div>
<div class="card-body bg-card" >

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

 <div class="field mb-3"  style="width:390px">

    <%= f.text_field :username, autofocus: true, autocomplete: "username" , class:"form-control", placeholder:"Username" %>
  </div>

  <div class="field mb-3"  style="width:390px">

    <%= f.email_field :email, autofocus: true, autocomplete: "email" , class:"form-control", placeholder:"Email" %>
  </div>

  <div class="field mb-3" style="width:390px">


    <%= f.password_field :password, autocomplete: "new-password" , class:"form-control", placeholder:"Password (6 characters minimum)" %>
  </div>

  <div class="field mb-3"  style="width:390px">

    <%= f.password_field :password_confirmation, autocomplete: "new-password" , class:"form-control",  placeholder:"Password confirmation" %>
  </div>

        <h2 style="text-align:center"> Choose Your Avatar </h2>
        <div class="avatars">

           <%= f.radio_button :avatar, "https://i.imgur.com/aQHVLIP.png", class: "radio" , id: "avatar1" %>
           <%= label_tag "avatar1", "" %>

            <%= f.radio_button :avatar, "https://i.imgur.com/nyLuzzQ.png", class: "radio", id:"avatar2" %>
              <%= label_tag "avatar2", "" %>

              <%= f.radio_button :avatar, "https://i.imgur.com/Kj5D6T9.png", class: "radio", id:"avatar3" %>
               <%= label_tag "avatar3", "" %>

            <%= f.radio_button :avatar, "https://i.imgur.com/ApdCIdy.png", class: "radio", id:"avatar4" %>
               <%= label_tag "avatar4", "" %>


                 <%= f.radio_button :avatar, "https://i.imgur.com/DjHQrcI.png", class: "radio", id:"avatar5" %>
               <%= label_tag "avatar5", "" %>
       </div>

  <div class="actions mb-3">
    <%= f.submit "Sign up" , class:"btn btn-dark" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
 </div>
 </div>



