<h1>Posts</h1>




<% @posts.each do |post| %>
 <div class="post-card">
        <img class="profil-img" src="https://i.imgur.com/Kj5D6T9.png" alt="avatar"  width="80" />
        <div class="post-card-right">
          <h4><%= link_to post.title , post %></h4>
          <p class="post"><%=post.body%></p>
          <div class="author-date">
            <h5>By: <%=post.author %></h5>
            <p><%= post.created_at.strftime("%d, %B, %Y") %></p>
          </div>

          <div class="delete-update-btns">

              <%= button_to post, method: :delete, data: { confirm: 'Are you sure?' } , class:"btn" do %>
              <i class="fa-solid fa-trash button-cus"></i>
              <% end %>

               <%= link_to edit_post_path(post), class:"btn" do %>
              <i class="fa-solid fa-pen-to-square"></i>
              <% end %>

          </div>
        </div>
      </div>
 <% end %>
<%= link_to "New post", new_post_path %>
