<h1 style="font-weight:bold;">My Posts</h1>

<% @posts.each do |post| %>
 <% if post.user == current_user %>
  <div class="card  border-dark" style="width: 40rem; margin:0 auto; margin-bottom:10px; margin-top:10px; background-color: #FDD692; ">
       <div class="" style="margin: auto;" >
          <img class="profil-img mt-3" src= "<%= post.avatar %>"  alt="avatar"  width="80" />
            <h6 class="card-subtitle mt-2 text-body-secondary" align="center" >By: <%=post.author %></h6>
       </div>
    <div class="card-body " style="margin-left:0px">
    <h5 class="card-title" align="center"><%= post.title %></h5>

    <p class="card-text"><%=post.body%></p>
      <% if post.user == current_user %>
          <div style="display:flex; gap:5px;">
           <%= link_to "Edit", edit_post_path(post), class: "btn btn-dark" %>
           <%= button_to "Delete", post, method: :delete , data: { confirm: 'Are you sure?' },  class:'btn btn-warning' %>
          </div>
          <%end%>

   </div>
      <div class="card-footer" style="background-color:#E8EDDF">

         <div  align="right">Date:  <%= post.created_at.strftime("%d, %B, %Y") %></div>
      </div>
  </div>
   <%end%>
<%end%>
<%= link_to "New post", new_post_path, class:"btn btn-secondary" %>